.chat-comment{data: {id: comment.id}}
  .chat-comment__user
    = comment.user.name
  .chat-comment__time
    = comment.created_at.strftime('%Y年%m月%d日 %H:%M:%S')
  .chat-comment__text
    = comment.text